<div class="sm:mx-2 my-2">
    <table class="text-left w-full rounded-md">
        <thead>
        <tr>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Type
            </th>
        </tr>
        </thead>
        {% for item in serviceItems %}
            <tr class="text-gray-800">
                <td class="py-2 px-4">
                    {{ item.userType }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>