<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <link rel="shortcut icon" href="{{ baselineStaticAssetsUrl }}/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ baselineStaticAssetsUrl }}/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ baselineStaticAssetsUrl }}/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ baselineStaticAssetsUrl }}/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ baselineStaticAssetsUrl }}/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ baselineStaticAssetsUrl }}/img/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="https://static.Baseline.dev/web/favicon/browserconfig.xml">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <title>Baseline Report</title>
    <script src="https://kit.fontawesome.com/7d3ec3600d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%= baselineStaticAssetsUrl %>/css/style.css">
</head>

<body class="bg-gray-200 mt-20">
<%- include('header'); %>
<div class="mt-8 mx-auto max-w-screen-xl sm:mt-12 sm:px-24 md:mt-20 xl:mt-24">
    <% Object.keys(users).forEach(function(email){ %>
        <%- include('user-item', {user: users[email]}); %>
    <% }); %>
</div>
</body>
</html>
