<div class="sm:mx-2 my-2">
    <table class="text-left w-full rounded-md">
        <thead>
            <tr>
                <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                    Organization
                </th>
                <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                    Organization enforces 2FA
                </th>
            </tr>
        </thead>
        <% service.items.forEach((service) => { %>
        <tr class="text-gray-800">
            <td class="py-2 px-4">
                <a href="https://github.com/orgs/<%= service.organization.login %>/people" target="_blank" class="underline">
                    <%= service.organization.login %>
                </a>
            </td>
            <td class="py-2 px-4"><i class="fas <% if (service.organization.enforces2fa) { %>fa-check text-teal-800<% } else { %>fa-times text-pink-800<% } %> fa-1x"/></td>
        </tr>
        <% }); %>
    </table>
</div>
