<div>
    <div class="flex items-center px-4 py-5 sm:px-6 bg-gray-100">
        <div class="rounded-full flex items-center justify-center text-gray-600">
            <i class="fab <%= service.icon %> fa-1x"></i>
        </div>
        <h2 class="ml-1 text-lg leading-5 font-medium text-gray-700">
            <%= service.name %>
        </h2>
    </div>
    <% if (serviceKey == 'github') { %>
        <%- include('service-details-github'); %>
    <% } %>
    <% if (serviceKey == 'slack') { %>
        <%- include('service-details-slack'); %>
    <% } %>
</div>