<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
<title>Baseline</title>
<link rel="stylesheet" type="text/css" href="{{ baselineStaticAssetsUrl }}/css/style.css">
<script src="{{ baselineStaticAssetsUrl }}/js/client.js"></script>
<script src="{{ baselineStaticAssetsUrl }}/js/alpine.js"></script>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline';" />