<div class="py-3 fixed bg-white w-full z-10 top-0" id="header">
    <nav class="relative max-w-screen-xl mx-auto flex items-center justify-between px-4 sm:px-24">
        <div class="flex items-center flex-1">
            <div class="flex items-center justify-between w-full md:w-auto">
                <a href="/">
                    <img class="h-8 w-auto sm:h-10" src="<%= data.baselineStaticAssetsUrl %>/img/logo/logo.png" alt=""/>
                </a>
            </div>
            <div class="hidden md:block md:ml-10"></div>
        </div>
        <div class="hidden md:block text-right">
            <span class="inline-flex rounded-md shadow-md"></span>
        </div>
    </nav>
</div>
<script>
  const header = document.getElementById('header');
  function handleHeader() {
    if (window.pageYOffset > 10) {
      header.classList.add('border-b', 'border-gray-200');
    } else {
      header.classList.remove('border-b', 'border-gray-200');
    }
  }
  window.onscroll = handleHeader;
  handleHeader();
</script>