<div class="bg-white overflow-hidden sm:rounded-lg sm:shadow sm:mb-4 sm:border-b sm:border-gray-200">
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
            <div class="ml-4 mt-4">
                <div class="flex items-center">
                    <div >
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Google Cloud Resources
                        </h3>
                    </div>
                </div>
            </div>
            <div class="ml-4 mt-4 flex-shrink-0 flex">
            </div>
        </div>
    </div>

    <% data.resources.forEach((resource) => { %>
    <div>
        <div class="flex items-center px-4 py-5 sm:px-6 bg-gray-100">
            <h2 class="text-lg leading-5 font-medium text-gray-700">
                <%= resource.projectName %>
            </h2>
        </div>
    </div>
    <div class="sm:mx-2 my-2">
        <table class="text-left w-full rounded-md">
            <thead>
            <tr>
                <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                    Role
                </th>
                <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                    Members
                </th>
            </tr>
            </thead>
                <% resource.projectIamPolicy.forEach((policy) => { %>
                    <tr class="text-gray-800">
                        <td class="py-2 px-4" valign="top">
                            <%= policy.role %>
                        </td>
                        <td class="py-2 px-4" valign="top">
                            <%= policy.members.join('<br />') %>
                        </td>
                    </tr>
                <% }) %>
        </table>
    </div>
    <% }); %>
</div>