<div class="sm:mx-2 my-2">
    <table class="text-left w-full rounded-md">
        <thead>
        <tr>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Email
            </th>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Roles
            </th>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                User Name
            </th>
        </tr>
        </thead>
        <% data.serviceItems.forEach((item) => { %>
            <tr class="text-gray-800">
                <td class="py-2 px-4">
                    <%= item.user.email %><br />
                </td>
                <td class="py-2 px-4">
                    <%=  item.user.permissions.join(", ")  %>
                </td>
                <td class="py-2 px-4">
                    <a href="<%= item.user.link %>"><%= item.user.userName %></a>
                </td>
            </tr>
        <% }); %>
    </table>
</div>
