<div class="sm:mx-2 my-2">
    <table class="text-left w-full rounded-md">
        <thead>
        <tr>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Account
            </th>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Account enforces MFA
            </th>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Permissions
            </th>
            <th class="py-2 px-4 font-bold uppercase text-sm text-gray-600">
                Has MFA
            </th>
        </tr>
        </thead>
        <% data.service.items.forEach((service) => { %>
            <tr class="text-gray-800">
                <td class="py-2 px-4">
                    <%= service.account.name %>
                </td>
                <td class="py-2 px-4"><i class="fas <% if (service.account.enforces2fa) { %>fa-check text-teal-800<% } else { %>fa-times text-pink-800<% } %> fa-1x"/></td>
                <td class="py-2 px-4"><%=  service.permissions.join(", ")  %></td>
                <td class="py-2 px-4"><i class="fas <% if (service.has2fa) { %>fa-check text-teal-800<% } else { %>fa-times text-pink-800<% } %> fa-1x"/></td>
            </tr>
        <% }); %>
    </table>
</div>
